@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");
@import "./sass/sidebar";
@import "./sass/history";
@import "./sass/form";
@import "./sass/video";
body {
  font-family: "Varela Round", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  & {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* irefox */
  }
}
h5 {
  padding-top: 1rem;
}
.link-style {
  text-decoration: none;
  color: initial;
}
.scroll-hide {
  &::-webkit-scrollbar {
    display: none;
  }

  /* Hide scrollbar for IE, Edge and Firefox */
  & {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* irefox */
  }
}
#home-page {
  @media screen and (min-width: 768px) {
    width: 25rem;
  }
  @media screen and (min-width: 992px) {
    width: 20rem;
  }
  @media screen and (min-width: 1200px) {
    width: 100%;
  }
}
.ae-rounded {
  border-radius: 1rem;
}
.ae-spinnder {
  width: 3rem;
  height: 3rem;
}
.last-seen {
  margin-left: auto;
  font-size: 0.8rem;
  @media screen and (min-width: 576px) {
    font-size: 1rem;
  }
  @media screen and (min-width: 1200px) {
    font-size: 0.8em;
  }
}
